{
  "openapi": "3.0.1",
  "info": {
    "title": "MerchantSpring Public API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mm-api.merchantspring.io",
      "description": "Production"
    },
    {
      "url": "https://mm-api-staging.merchantspring.io",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "advertising",
      "x-group": "Advertising"
    },
    {
      "name": "channel",
      "x-group": "Channel"
    },
    {
      "name": "content-change",
      "x-group": "Content Change"
    },
    {
      "name": "custom-group",
      "x-group": "Custom Group"
    },
    {
      "name": "order",
      "x-group": "Order"
    },
    {
      "name": "product",
      "x-group": "Product"
    },
    {
      "name": "report",
      "x-group": "Report"
    },
    {
      "name": "vendor",
      "x-group": "Vendor"
    },
    {
      "name": "tag",
      "x-group": "Tag"
    },
    {
      "name": "search-query-performance",
      "x-group": "Search Query Performance"
    },
    {
      "name": "profitability",
      "x-group": "Profitability"
    },
    {
      "name": "targets",
      "x-group": "Targets"
    }
  ],
  "paths": {
    "/channels": {
      "post": {
        "tags": ["channel"],
        "summary": "Retrieve a list of channels",
        "description": "Retrieve a list of channels that match the specified filter criteria",
        "operationId": "getChannels",
        "requestBody": {
          "description": "Filter criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArrayOfChannel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "malformedFilter": {
                    "summary": "filter.marketplaces / filter.countryCodes is not an array of strings",
                    "value": { "status": "error", "error": "Invalid filter parameters" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/content-changes": {
      "post": {
        "tags": ["content-change"],
        "summary": "Retrieve a list of content changes",
        "description": "Retrieve a paginated list of product content changes for a given store. Returns one record per product with per-field change status, original value, benchmark value and last-changed timestamp. Page size is capped at 500 items per request. Uses zero-based page indexing (pageIndex starts at 0).",
        "operationId": "getContentChanges",
        "requestBody": {
          "description": "Filter and pagination criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContentChangesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContentChangesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingParam": {
                    "summary": "A required body field is missing",
                    "value": { "status": "error", "error": "Missing parameter in request body: mid" }
                  },
                  "invalidPageSize": {
                    "summary": "paginationParams.pageSize is not a positive integer",
                    "value": { "status": "error", "error": "Invalid parameter: paginationParams.pageSize must be a positive integer" }
                  },
                  "invalidPageIndex": {
                    "summary": "paginationParams.pageIndex is not a non-negative integer",
                    "value": { "status": "error", "error": "Invalid parameter: paginationParams.pageIndex must be a non-negative integer" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/products/amazon": {
      "get": {
        "tags": ["product"],
        "summary": "Retrieve Amazon product attributes",
        "description": "Returns catalog attributes for an Amazon seller or vendor ASIN, together with seller listing data or vendor details when available.",
        "operationId": "getProductAttribute",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel (store) ID. Must be an Amazon seller or vendor channel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID that owns the channel. URL-encode values containing spaces or '@'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "description": "Amazon Standard Identification Number. Must contain exactly 10 letters or numbers. Lowercase input is normalized to uppercase.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 10,
              "maxLength": 10,
              "pattern": "^[A-Z0-9]{10}$",
              "example": "B0020MMCJI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductAttributeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or unsupported channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingParameter": {
                    "summary": "A required query parameter is missing",
                    "value": {
                      "status": "error",
                      "error": "Asin is required"
                    }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId did not resolve to a channel",
                    "value": {
                      "status": "error",
                      "error": "Invalid channelId / merchantId"
                    }
                  },
                  "unsupportedChannel": {
                    "summary": "Channel is not an Amazon seller or vendor channel",
                    "value": {
                      "status": "error",
                      "error": "This endpoint is only supported for Amazon channels"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The user does not have access to the specified store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": "error",
                  "error": "user does not have access to specified store"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/search-query-performance/asins": {
      "get": {
        "tags": ["search-query-performance"],
        "summary": "Retrieve Search Query Performance data at the ASIN level (Amazon only)",
        "description": "Returns aggregated Search Query Performance metrics (impressions, clicks, cart adds, purchases and derived rates/shares) per ASIN, compared against a prior period. If 'asins' is omitted, the top ASINs by impression volume are resolved automatically, capped to the organisation's Search Query Performance entitlement. Monetary values are converted into the requested currency. Requires the organisation to have Search Query Performance access enabled.",
        "operationId": "getSqpAsinTable",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel (store) ID. Must be an Amazon seller or vendor channel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID that owns the channel. URL-encode values containing spaces or '@'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the start of the reporting period. SQP data is only available at monthly granularity, so this is clipped to the start of its containing calendar month; the clipped date is returned as meta.dateRange.fromDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the end of the reporting period. SQP data is only available at monthly granularity, so this is clipped to the end of its containing calendar month; the clipped date is returned as meta.dateRange.toDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priorFromDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the start of the comparison period. SQP data is only available at monthly granularity, so this is clipped to the start of its containing calendar month; the clipped date is returned as meta.dateRange.priorFromDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priorToDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the end of the comparison period. SQP data is only available at monthly granularity, so this is clipped to the end of its containing calendar month; the clipped date is returned as meta.dateRange.priorToDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone identifier used to bucket the date range, for example Australia/Sydney.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero-based page index (default 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page (default 25, max 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 25
            }
          },
          {
            "name": "sortKey",
            "in": "query",
            "description": "Field to sort by (default searchQueryVolume).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "searchQueryVolume",
              "enum": [
                "asin",
                "searchQueryVolume",
                "totalImpressions",
                "impressions",
                "impressionShare",
                "totalClicks",
                "clicks",
                "clickShare",
                "totalCtr",
                "ctr",
                "totalCartAdds",
                "cartAdds",
                "atcRate",
                "totalPurchases",
                "purchases",
                "purchaseShare",
                "totalCvr",
                "cvr",
                "currentRevenue"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction (default asc).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "asins",
            "in": "query",
            "description": "(Optional) Restrict results to these ASINs. Repeat the parameter for multiple values, e.g. ?asins=B001&asins=B002. If omitted, the top ASINs by impression volume are resolved automatically, capped to the organisation's Search Query Performance entitlement.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "3-letter ISO currency code to convert monetary values into (default USD).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSqpAsinTableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or unsupported channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidChannel": {
                    "summary": "channelId / merchantId do not match a connected store",
                    "value": {
                      "status": "error",
                      "error": "Invalid channelId / merchantId"
                    }
                  },
                  "nonAmazonChannel": {
                    "summary": "Channel is not an Amazon store",
                    "value": {
                      "status": "error",
                      "error": "This endpoint is only supported for Amazon channels"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The organisation does not have access to Search Query Performance data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notEntitled": {
                    "summary": "Organisation has no Search Query Performance entitlement",
                    "value": {
                      "status": "error",
                      "error": "Your account is not entitled to Search Query Performance data. Please contact sales to enquire about a subscription."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/search-query-performance/keywords": {
      "get": {
        "tags": ["search-query-performance"],
        "summary": "Retrieve Search Query Performance data at the keyword level for one ASIN (Amazon only)",
        "description": "Returns a paginated list of Search Query Performance metrics per search query (keyword) for a single ASIN, compared against a prior period. Monetary values are converted into the requested currency. Requires the organisation to have Search Query Performance access enabled.",
        "operationId": "getSqpKeywordTable",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel (store) ID. Must be an Amazon seller or vendor channel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID that owns the channel. URL-encode values containing spaces or '@'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "description": "ASIN to retrieve the keyword-level breakdown for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the start of the reporting period. SQP data is only available at monthly granularity, so this is clipped to the start of its containing calendar month; the clipped date is returned as meta.dateRange.fromDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the end of the reporting period. SQP data is only available at monthly granularity, so this is clipped to the end of its containing calendar month; the clipped date is returned as meta.dateRange.toDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priorFromDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the start of the comparison period. SQP data is only available at monthly granularity, so this is clipped to the start of its containing calendar month; the clipped date is returned as meta.dateRange.priorFromDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priorToDate",
            "in": "query",
            "description": "Unix epoch time (seconds) representing the end of the comparison period. SQP data is only available at monthly granularity, so this is clipped to the end of its containing calendar month; the clipped date is returned as meta.dateRange.priorToDate in the response.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone identifier used to bucket the date range, for example Australia/Sydney.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero-based page index (default 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page (default 25, max 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 25
            }
          },
          {
            "name": "sortKey",
            "in": "query",
            "description": "Field to sort by (default searchQueryVolume).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "searchQueryVolume",
              "enum": [
                "searchQuery",
                "searchQueryVolume",
                "totalImpressions",
                "impressions",
                "impressionShare",
                "totalClicks",
                "clicks",
                "clickShare",
                "totalCtr",
                "ctr",
                "totalCartAdds",
                "cartAdds",
                "atcRate",
                "totalPurchases",
                "purchases",
                "purchaseShare",
                "totalCvr",
                "cvr",
                "currentRevenue"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction (default desc).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "searchText",
            "in": "query",
            "description": "(Optional) Filter search queries containing this text (case-insensitive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "3-letter ISO currency code to convert monetary values into (default USD).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSqpKeywordTableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or unsupported channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidChannel": {
                    "summary": "channelId / merchantId do not match a connected store",
                    "value": {
                      "status": "error",
                      "error": "Invalid channelId / merchantId"
                    }
                  },
                  "nonAmazonChannel": {
                    "summary": "Channel is not an Amazon store",
                    "value": {
                      "status": "error",
                      "error": "This endpoint is only supported for Amazon channels"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The organisation does not have access to Search Query Performance data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notEntitled": {
                    "summary": "Organisation has no Search Query Performance entitlement",
                    "value": {
                      "status": "error",
                      "error": "Your account is not entitled to Search Query Performance data. Please contact sales to enquire about a subscription."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/vendor/asins": {
      "get": {
        "tags": ["vendor"],
        "summary": "Retrieve all vendor fields against an ASIN",
        "description": "Vendor only. Returns one wide row per ASIN combining every data point we hold for the product: catalogue, ordered revenue, shipped revenue (sourcing and manufacturing), inventory health, purchase orders, product profit, sourcing share and advertising. Supply asin to fetch a single product, or omit it to page through the full master list (products with sales activity in the window). The date range must not exceed 30 days. Page size defaults to 20 and is capped at 50 (rows are wide). Uses zero-based page indexing.",
        "operationId": "getAsinDetails",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel (store) ID. Must be an Amazon Vendor channel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID that owns the channel. URL-encode values containing spaces or '@'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Start of date range as unix epoch seconds.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "End of date range as unix epoch seconds. The range must not exceed 30 days.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone string, for example Australia/Sydney.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "description": "When supplied, returns only this ASIN; otherwise returns the paginated master list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortKey",
            "in": "query",
            "description": "Product sales metric to sort by. Unrecognised values fall back to asin.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asin",
              "enum": [
                "asin",
                "orderedRevenue",
                "orderedUnits",
                "glanceViews",
                "lostFeaturedOffer",
                "shippedRevenue",
                "shippedUnits",
                "shippedCogs",
                "customerReturns",
                "shippedRevenueMfg",
                "shippedCogsMfg"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction (default asc).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": ["asc", "desc"]
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero-based page index (default 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of ASINs per page (default 20, max 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAsinDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": {
                      "status": "error",
                      "error": "Invalid channelId / merchantId"
                    }
                  },
                  "notVendorChannel": {
                    "summary": "Channel exists but is not an Amazon Vendor channel",
                    "value": {
                      "status": "error",
                      "error": "This endpoint is only supported for vendor channels"
                    }
                  },
                  "dateRangeTooLong": {
                    "summary": "Window exceeds the 30-day maximum",
                    "value": {
                      "status": "error",
                      "error": "toDate and fromDate must be no greater than 30 days apart"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/targets": {
      "get": {
        "tags": ["targets"],
        "summary": "Retrieve budgets and forecasts (Ad Spend Budget, Sales Budget, Sales Forecast)",
        "description": "Returns the sales budget, sales forecast and ad spend budget targets for a channel over a date range. Data is an ordered array with ISO 8601 and Unix epoch start/end times for each period bucket; the number of buckets depends on interval (for example a one-year range with interval=month returns ~12 buckets, interval=week ~52, interval=day ~366). The totals object is the summed roll-up across the whole range.",
        "operationId": "getTargets",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel (store) ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID that owns the channel. URL-encode values containing spaces or '@'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Start of date range as unix epoch seconds.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "End of date range as unix epoch seconds.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA timezone string, for example Australia/Sydney.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time bucket size for the data breakdown. day returns one entry per day, week per week, month per month. Defaults to day.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "day",
              "enum": ["day", "week", "month"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getTargetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  },
                  "invalidDateOrder": {
                    "summary": "toDate is before fromDate",
                    "value": { "status": "error", "error": "toDate must not be before fromDate" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/orders/amazon": {
      "post": {
        "tags": ["order"],
        "summary": "Retrieve a list of orders for an Amazon channel (Requires Enterprise plan)",
        "description": "Retrieve a list of orders for an Amazon channel that match the specified filter criteria. \n\n**NOTE: This endpoint is only available to users on the Enterprise plan.**",
        "operationId": "getOrders",
        "requestBody": {
          "description": "Filter criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOrdersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingParam": {
                    "summary": "A required body field is missing",
                    "value": { "status": "error", "error": "Missing parameter in request body: channelId" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  },
                  "notAmazonChannel": {
                    "summary": "Channel exists but is not an Amazon store",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId: Only amazon stores are supported for this endpoint" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/salesByProduct": {
      "post": {
        "tags": ["report"],
        "summary": "Create a sales by product report",
        "description": "Create a \"sales by product\" report. The generated report CSV contains the columns defined in the `SalesByProductReportColumns` schema. For Amazon Vendor channels, 'totalSales' is replaced by 'poValue' and 'unitsSold' by 'unitsOrdered'. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createSalesByProductReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesByProductReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/SalesByProductReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/clientReportPdf": {
      "post": {
        "tags": ["report"],
        "summary": "Generate a PDF of a saved Client Report",
        "description": "Renders an existing, saved Client Report (identified by `reportId`) to a PDF server-side and uploads it for download. Unlike the other report types, this does not generate new analytics data from filters - it exports a point-in-time snapshot of an already-configured report exactly as it appears when viewed. Use the /reports/clientReportPdf/status/{jobId} endpoint to check status and obtain the download URL.",
        "operationId": "createClientReportPdf",
        "requestBody": {
          "description": "Client Report identifier",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientReportPdfRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientReportPdfCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/trafficAndConversion": {
      "post": {
        "tags": ["report"],
        "summary": "Create a traffic and conversion report",
        "description": "Create a \"traffic and conversion\" report. The generated report CSV contains the columns defined in the `TrafficAndConversionReportColumns` schema. When the 'view' option is set to 'skus', additional columns 'sku' and 'brand' are included. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createTrafficAndConversionReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrafficAndConversionReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/TrafficAndConversionReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/cancellationsAndRefunds": {
      "post": {
        "tags": ["report"],
        "summary": "Create a cancellations and refunds report",
        "description": "Create a \"cancellations and refunds\" report. The generated report CSV contains the columns defined in the `CancellationsAndRefundsReportColumns` schema. Note that cancelledSales, cancelRate, and their prior period equivalents are hidden for Amazon seller channels. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createCancellationsAndRefundsReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCancellationsAndRefundsReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationsAndRefundsReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/customerLifetimeValue": {
      "post": {
        "tags": ["report"],
        "summary": "Create a customer lifetime value report",
        "description": "Create a \"customer lifetime value\" report. The generated report CSV contains the columns defined in the `CustomerLifetimeValueReportColumns` schema including cohort metrics such as LTV, CAC, and repeat purchase frequency. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createCustomerLifetimeValueReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerLifetimeValueReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLifetimeValueReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/shippedRevenue": {
      "post": {
        "tags": ["report"],
        "summary": "Create a shipped revenue report",
        "description": "Create a \"shipped revenue\" report (Amazon Vendor). The generated report CSV contains the columns defined in the `ShippedRevenueReportColumns` schema. The 'view' option selects between 'sourcing' and 'manufacturing' data. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createShippedRevenueReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShippedRevenueReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ShippedRevenueReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/orderedRevenue": {
      "post": {
        "tags": ["report"],
        "summary": "Create an ordered revenue report",
        "description": "Create an \"ordered revenue\" report (Amazon Vendor). The generated report CSV contains the columns defined in the `OrderedRevenueReportColumns` schema. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createOrderedRevenueReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderedRevenueReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/OrderedRevenueReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/inventoryHealth": {
      "post": {
        "tags": ["report"],
        "summary": "Create an inventory health report",
        "description": "Create an \"inventory health\" report (Amazon Vendor). The generated report CSV contains the columns defined in the `InventoryHealthReportColumns` schema including sellable, unhealthy, aged, and unsellable inventory metrics. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createInventoryHealthReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInventoryHealthReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryHealthReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/campaigns": {
      "post": {
        "tags": ["report"],
        "summary": "Create a campaigns report",
        "description": "Create a \"campaigns\" report (Amazon Advertising). The download contains multiple CSV files: campaigns, ad groups, keywords, product ads, and products. See the `CampaignsReportCampaignColumns`, `CampaignsReportAdGroupColumns`, `CampaignsReportKeywordColumns`, `CampaignsReportProductAdColumns`, and `CampaignsReportProductColumns` schemas for the columns in each file. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createCampaignsReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignsReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignsReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/inventoryReplenishment": {
      "post": {
        "tags": ["report"],
        "summary": "Create an inventory replenishment report",
        "description": "Create an \"inventory replenishment\" report (Amazon FBA). The generated report CSV contains the columns defined in the `InventoryReplenishmentReportColumns` schema including days cover, projected OOS dates, and replenishment recommendations. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createInventoryReplenishmentReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInventoryReplenishmentReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryReplenishmentReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/channelProfitAndLoss": {
      "post": {
        "tags": ["report"],
        "summary": "Create a channel profit and loss report",
        "description": "Create a \"channel profit and loss\" report. The generated report CSV contains the columns defined in the `ChannelProfitAndLossReportColumns` schema including revenue, fees, COGS, advertising, and profit breakdown by store. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createChannelProfitAndLossReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelProfitAndLossReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelProfitAndLossReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/amazonBuyBoxPerformance": {
      "post": {
        "tags": ["report"],
        "summary": "Create an Amazon Buy Box Performance report",
        "description": "Create an Amazon Buy Box Performance report. The generated report CSV contains the columns defined in the `AmazonBuyBoxPerformanceReportColumns` schema including your price, competitive price, and detailed offer attributes. An additional 'offerPoints' column is included for Japanese marketplaces. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createAmazonBuyBoxPerformanceReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAmazonBuyBoxPerformanceReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonBuyBoxPerformanceReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/repeatPurchase": {
      "post": {
        "tags": ["report"],
        "summary": "Create a repeat purchase report",
        "description": "Create a \"repeat purchase\" report. The generated report CSV contains the columns defined in the `RepeatPurchaseReportColumns` schema including repeat customer counts, sales percentages, and per-customer revenue metrics. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createRepeatPurchaseReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepeatPurchaseReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/RepeatPurchaseReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/suppressedProduct": {
      "post": {
        "tags": ["report"],
        "summary": "Create a suppressed product report",
        "description": "Create a \"suppressed product\" report. The generated report CSV contains the columns defined in the `SuppressedProductReportColumns` schema including suppression dates, issue types, estimated lost sales, and fix URLs. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createSuppressedProductReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSuppressedProductReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/SuppressedProductReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/marketingByProduct": {
      "post": {
        "tags": ["report"],
        "summary": "Create a marketing by product report",
        "description": "Create a \"marketing by product\" report. The generated report CSV contains the columns defined in the `MarketingByProductReportColumns` schema including ad sales, spend, ACOS, ROAS, TACOS, and new-to-brand metrics by store. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createMarketingByProductReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketingByProductReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/MarketingByProductReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/subscribeAndSave": {
      "post": {
        "tags": ["report"],
        "summary": "Create a subscribe and save report",
        "description": "Create a \"subscribe and save\" report (Amazon). The generated report CSV contains the columns defined in the `SubscribeAndSaveReportColumns` schema including subscriber counts, shipped revenue, revenue penetration, and discount tiers. Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createSubscribeAndSaveReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscribeAndSaveReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/SubscribeAndSaveReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/create/products": {
      "post": {
        "tags": ["report"],
        "summary": "Create a products report (Requires Enterprise plan)",
        "description": "Create a \"products\" report (Amazon). The generated report CSV contains the columns defined in the `ProductsReportColumns` schema including pricing, inventory, COGS, fees, and category information. \n\n**NOTE: This endpoint is only available to users on the Enterprise plan.** Use the /reports/status/{reportId} endpoint to check report status and obtain the download URL.",
        "operationId": "createProductsReport",
        "requestBody": {
          "description": "Report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductsReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReportResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsReportColumns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/status/{reportId}": {
      "get": {
        "tags": ["report"],
        "summary": "Get the status of a report request",
        "description": "Get the status of a report request",
        "operationId": "getReportStatus",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "description": "Report ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/clientReportPdf/status/{jobId}": {
      "get": {
        "tags": ["report"],
        "summary": "Get the status of a Client Report PDF generation request",
        "description": "Get the status of a Client Report PDF generation request. Unlike /reports/status/{reportId}, this does not require channelId/merchantId - a Client Report is not scoped to a single connected channel.",
        "operationId": "getClientReportPdfStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID returned by /reports/create/clientReportPdf",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientReportPdfStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/view/vendorSalesByPeriod": {
      "post": {
        "tags": ["report"],
        "summary": "Retrieve vendor sales-by-period performance",
        "description": "Retrieve aggregated revenue with advertising metrics for a merchant over the selected date range, grouped by the requested interval.",
        "operationId": "getVendorSalesByPeriodReport",
        "requestBody": {
          "description": "Report filters that identify the merchant, time range, and marketplace scope to evaluate.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VendorSalesByPeriodRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aggregated performance data grouped to match the requested interval.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorSalesByPeriodSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorSalesByPeriodErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorSalesByPeriodErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/view/salesByPeriod": {
      "post": {
        "tags": ["report"],
        "summary": "Retrieve sales-by-period performance",
        "description": "Retrieve aggregated GMV, traffic, and advertising metrics for a merchant over the selected date range, grouped by the requested interval.",
        "operationId": "getSalesByPeriodReport",
        "requestBody": {
          "description": "Report filters that identify the merchant, time range, and marketplace scope to evaluate.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesByPeriodRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aggregated performance data grouped to match the requested interval.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesByPeriodSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesByPeriodErrorResponse"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesByPeriodErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/view/advertisingByChannels": {
      "post": {
        "tags": ["report"],
        "summary": "Retrieve advertising performance by channel",
        "description": "Retrieve a paginated JSON summary of advertising performance grouped by channel for the selected store and date range. Values are currency-adjusted based on the store's country and the provided currency context.",
        "operationId": "getAdvertisingByChannels",
        "requestBody": {
          "description": "Advertising by channels criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvertisingByChannelsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvertisingByChannelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/view/salesByChannel": {
      "post": {
        "tags": ["report"],
        "summary": "Retrieve sales performance by channel",
        "description": "Retrieve sales performance broken down by store/channel for the selected filters and date range, with prior-period comparison.",
        "operationId": "viewSalesByChannelReport",
        "requestBody": {
          "description": "Sales by channel report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewSalesByChannelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesByChannelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/reports/view/salesByProduct": {
      "post": {
        "tags": ["report"],
        "summary": "Retrieve sales performance by product",
        "description": "Retrieve sales performance broken down by product for the selected channel and date range, with prior-period comparison.",
        "operationId": "viewSalesByProductReport",
        "requestBody": {
          "description": "Sales by product report criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewSalesByProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewSalesByProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/profitability/storeProfitAndLoss": {
      "post": {
        "tags": ["profitability"],
        "summary": "Get a store profit and loss",
        "description": "Get a \"store profit and loss\"",
        "operationId": "getStoreProfitAndLoss",
        "requestBody": {
          "description": "Store profit and loss criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStoreProfitAndLossRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStoreProfitAndLossResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingParam": {
                    "summary": "A required reportOptions field is missing",
                    "value": { "status": "error", "error": "Missing or invalid parameters: reportOptions.fromDate, reportOptions.toDate" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/profitability/productProfitAndLoss": {
      "post": {
        "tags": ["profitability"],
        "summary": "Retrieve single or multiple product profit and loss details",
        "description": "Retrieve single or multiple product profit and loss details",
        "operationId": "getProductProfitAndLoss",
        "requestBody": {
          "description": "Product profit and loss criteria",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductProfitAndLossRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductProfitAndLossResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "tooManySellerSkus": {
                    "summary": "More than 50 sellerSkus passed in reportOptions",
                    "value": { "status": "error", "error": "The maximum number of sellerSkus that can be passed in at a time is 50" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/profitability/directCosts": {
      "post": {
        "tags": ["profitability"],
        "summary": "Update Unit COGS",
        "description": "Update Unit COGS",
        "operationId": "updateDirectCosts",
        "requestBody": {
          "description": "Input required to update Unit COGS",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDirectCostsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDirectCostsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "unsupportedMarketplace": {
                    "summary": "Channel's marketplace does not support direct costs yet",
                    "value": { "status": "error", "error": "The marketplace type is not supported at the moment" }
                  },
                  "invalidCogs": {
                    "summary": "cogs is missing, non-numeric, or the currency code is invalid for a SKU",
                    "value": { "status": "error", "error": "Invalid cogs for SKU: ABC-123" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/profitability/directCostsJobStatus": {
      "get": {
        "tags": ["profitability"],
        "summary": "Get the status of a Unit COGS update job",
        "description": "Get the status of a Unit COGS update job",
        "operationId": "getDirectCostsJobStatus",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectCostJobStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingParam": {
                    "summary": "A required query parameter is missing",
                    "value": { "status": "error", "error": "Missing or invalid parameters: jobId" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "invalid channelId / merchantId" }
                  },
                  "unsupportedMarketplace": {
                    "summary": "Channel's marketplace does not support direct costs yet",
                    "value": { "status": "error", "error": "The marketplace type is not supported at the moment" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/customGroups": {
      "get": {
        "tags": ["custom-group"],
        "summary": "Retrieve custom groups for a channel",
        "description": "Retrieve the list of custom product groups defined for a given channel.",
        "operationId": "getCustomGroups",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of groups per page, max 100 (default 10).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Zero-based page index (default 0).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomGroupsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingChannelId": {
                    "summary": "channelId is missing",
                    "value": { "status": "error", "error": "channelId is required" }
                  },
                  "invalidPageSize": {
                    "summary": "pageSize is not a positive integer",
                    "value": { "status": "error", "error": "pageSize must be a positive integer" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["custom-group"],
        "summary": "Create a custom group",
        "description": "Create a new custom product group for a channel.",
        "operationId": "createCustomGroup",
        "requestBody": {
          "description": "Custom group details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "missingGroupName": {
                    "summary": "groupName is missing",
                    "value": { "status": "error", "error": "groupName is required" }
                  },
                  "bothProductsAndBrands": {
                    "summary": "Both products and brands were provided",
                    "value": { "status": "error", "error": "Only one of products or brands can be provided, not both" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/customGroups/{id}": {
      "get": {
        "tags": ["custom-group"],
        "summary": "Retrieve a single custom group",
        "description": "Retrieve a single custom group with its associated products and brands.",
        "operationId": "getCustomGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidGroupId": {
                    "summary": "id is not a valid numeric group id",
                    "value": { "status": "error", "error": "groupId must be a valid numeric id" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": ["custom-group"],
        "summary": "Update a custom group",
        "description": "Add or remove products/brands and optionally rename the group. Provide at least one of addProducts, removeProducts, addBrands, removeBrands, or groupName. Cannot mix product and brand operations in the same request.",
        "operationId": "editCustomGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "noFieldsProvided": {
                    "summary": "None of groupName/addProducts/removeProducts/addBrands/removeBrands provided",
                    "value": { "status": "error", "error": "At least one of groupName, addProducts, removeProducts, addBrands, removeBrands must be provided" }
                  },
                  "mixedProductsAndBrands": {
                    "summary": "Both product and brand operations provided in the same request",
                    "value": { "status": "error", "error": "Cannot mix product and brand operations in the same request" }
                  },
                  "invalidChannel": {
                    "summary": "channelId / merchantId not found or not accessible",
                    "value": { "status": "error", "error": "Invalid channelId / merchantId" }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["custom-group"],
        "summary": "Delete a custom group",
        "description": "Delete a custom product group for a channel.",
        "operationId": "deleteCustomGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "Channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "examples": {
                  "invalidGroupId": {
                    "summary": "id is not a valid numeric group id",
                    "value": { "status": "error", "error": "groupId must be a valid numeric id" }
                  },
                  "invalidChannel": {
[...]
